.modal_right {
    display: flex !important;
    justify-content: flex-end !important;
    .modal-dialog {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        min-height: 100%;
    }
    .modal-fullscreen {
        max-width: 700px;
        position: fixed;
        right: -10px;
    }
}

.modal_right.fade {
    opacity: 1 !important;
}

.modal_right.fade .modal-dialog {
    transform: none;
    -webkit-transition: opacity 0.05s linear, right 0.05s ease-out;
    -moz-transition: opacity 0.05s linear, right 0.05s ease-out;
    -o-transition: opacity 0.05s linear, right 0.05s ease-out;
    transition: opacity 0.05s linear, right 0.05s ease-out !important;
}

.modal_right.fade {
    transition: none !important;
}

.modal_right.fade.show .modal-dialog {
    right: -0px;
    -webkit-transition: opacity 0.05s linear, right 0.05s ease-out;
    -moz-transition: opacity 0.05s linear, right 0.05s ease-out;
    -o-transition: opacity 0.05s linear, right 0.05s ease-out;
    transition: opacity 0.05s linear, right 0.05s ease-out !important;
}

.page-breadcrumb {
    font-weight: 500;
}

.modal-backdrop {
    background-color: #0d0e1a;
    opacity: 0.8;
}

.btn {
    font-weight: 500;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    vertical-align: middle !important;
}

.dataTable-table>tbody>tr>td,
.dataTable-table>tbody>tr>th,
.dataTable-table>tfoot>tr>td,
.dataTable-table>tfoot>tr>th,
.dataTable-table>thead>tr>td,
.dataTable-table>thead>tr>th {
    padding: 0.7rem 0.85rem;
}

.table thead th a {
    color: #7987a1;
}

td .dropdown-toggle.btn.btn-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #eff1f5;
    color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
}

td .dropdown-toggle.btn.btn-icon::after {
    display: none;
}

.user_media {
    gap: 0.5rem;
    .user_media {
        flex: 1;
    }
}

.user_icon {
    width: 38px;
    height: 38px;
    background-color: #43434f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
}

.color_1 {
    background-color: #ef98b2 !important;
}

.color_2 {
    background-color: #80dcbd !important;
}

.color_3 {
    background-color: #e2a2e0 !important;
}

.color_4 {
    background-color: #f0af9c !important;
}

.color_5 {
    background-color: #8ec7e4 !important;
}

.color_6 {
    background-color: #b897fa !important;
}

.table_head {
    display: flex;
    align-items: center;
    .dataTable-top {
        flex: 1;
    }
}

.display_label {
    font-weight: 600;
}

.user_media.large {
    gap: 1rem;
    .user_icon {
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
    }
}

.flex-1 {
    flex: 1 !important;
}

.border-none {
    border: none !important;
}

.user_media.pointer {
    cursor: pointer;
}

.icon_user_block {
    display: flex;
    align-items: center;
}

.icon_user_block .user_icon {
    width: 30px;
    height: 30px;
    font-size: 0.6rem;
    font-weight: 500;
    border: 2px solid #fff;
    margin-left: -8px;
}

.icon_user_block .user_icon:nth-child(1) {
    z-index: 5;
    margin-left: 0;
}

.icon_user_block .user_icon:nth-child(2) {
    z-index: 4;
}

.icon_user_block .user_icon:nth-child(3) {
    z-index: 3;
}

.icon_user_block .user_icon:nth-child(4) {
    z-index: 2;
}

.icon_user_block .user_icon:nth-child(5) {
    z-index: 1;
}

.icon_user_block label {
    padding-left: 5px;
    cursor: pointer;
}

.user_icon.square {
    border-radius: 4px;
}

.upload_company_logo {
    width: 140px;
    height: 140px;
    border: 1px dashed $primary;
    border-radius: 50%;
    margin: 0px auto 7px;
    background-color: #f8f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    cursor: pointer;
    flex-direction: column;
    i {
        font-size: 1.5rem;
    }
}

.page-breadcrumb .breadcrumb {
    background-color: transparent;
}

.company_info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.company_body {
    flex: 1;
}

.company_info .company_icon {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company_dash {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.company_icon {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
}

.table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: #f8f8fb;
}

.company_table .user_media {
    padding: 6px 10px 6px 0;
}

.company_table .btn-group {
    padding: 4px 0 4px 0;
}

.employee_list tbody tr:last-child td {
    border-bottom: none;
}

.modal-header,
.modal-body {
    padding: 1rem 1.5rem;
}

.modal-footer {
    padding: 0.5rem 1.5rem;
}

.modal-footer.border-none {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

img.invert {
    filter: invert(100%);
    height: auto !important;
    width: 25px !important;
    border-radius: 0 !important;
}

.location_icon {
    width: 38px;
    height: 38px;
    border: 1px solid $info;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $info;
    border-radius: 50%;
    color: #fff;
}

.company_head {
    display: flex;
    gap: 2rem;
}

.contact_info {
    border-left: 1px solid #eee;
    padding-left: 1rem;
    display: flex;
}

.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-item i {
    color: #7987a1 !important;
}

.modal_right.full .modal-fullscreen {
    max-width: 1400px;
}

.splitted_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1 1 auto;
    overflow: hidden;
}

.splitted_right {
    border-left: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
}

.splitted_left,
.splitted_right {
    overflow-y: auto;
}

.timeline {
    background: rgba(194, 199, 253, 0.2);
    margin: 0 0 0 0px;
    max-width: 100%;
    padding: 2rem;
}

.timeline .event::after {
    left: -2.4rem;
}

.splitted_right {
    display: flex;
    flex-direction: column;
}

.fixed_box {
    background-color: #F0F0F6;
    position: relative;
}

.fixed_box textarea {
    resize: none;
}

.btn_textarea {
    position: absolute;
    bottom: 1.2rem;
    right: 2.2em;
}

@media screen and (max-width: 767px) {
    .company_head {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    .contact_info {
        border-left: none;
        padding-left: 0;
    }
    .splitted_right {
        border-right: none;
    }
    .splitted_left {
        border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    }
    .splitted_grid {
        display: block;
        overflow: auto;
    }
}

@media screen and (max-width: 460px) {
    .user_media.large .user_media {
        flex-direction: column;
        align-items: flex-start !important;
    }
}