.modal_right {
    display: flex !important;
    justify-content: flex-end !important;
    .modal-dialog {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        min-height: 100%;
    }
    .modal-fullscreen {
        max-width: 820px;
        position: fixed;
        right: -10px;
    }
}

.modal_right.fade {
    opacity: 1 !important;
}

.modal_right.fade .modal-dialog {
    transform: none;
    -webkit-transition: opacity 0.05s linear, right 0.05s ease-out;
    -moz-transition: opacity 0.05s linear, right 0.05s ease-out;
    -o-transition: opacity 0.05s linear, right 0.05s ease-out;
    transition: opacity 0.05s linear, right 0.05s ease-out !important;
}

.modal_right.fade {
    transition: none !important;
}

.modal_right.fade.show .modal-dialog {
    right: -0px;
    -webkit-transition: opacity 0.05s linear, right 0.05s ease-out;
    -moz-transition: opacity 0.05s linear, right 0.05s ease-out;
    -o-transition: opacity 0.05s linear, right 0.05s ease-out;
    transition: opacity 0.05s linear, right 0.05s ease-out !important;
}

.page-breadcrumb {
    font-weight: 500;
}

.modal-backdrop {
    background-color: #0d0e1a;
    opacity: 0.8;
}

.btn {
    font-weight: 500;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    vertical-align: middle !important;
}

.dataTable-table>tbody>tr>td,
.dataTable-table>tbody>tr>th,
.dataTable-table>tfoot>tr>td,
.dataTable-table>tfoot>tr>th,
.dataTable-table>thead>tr>td,
.dataTable-table>thead>tr>th {
    padding: 0.7rem 0.85rem;
}

.table thead th a {
    color: #7987a1;
}

td .dropdown-toggle.btn.btn-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #eff1f5;
    color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
}

td .dropdown-toggle.btn.btn-icon::after {
    display: none;
}

.user_media {
    gap: 0.5rem;
    .user_icon {
        width: 38px;
        height: 38px;
        background-color: #43434f;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 500;
    }
    .user_media {
        flex: 1;
    }
}

.color_1 {
    background-color: #ef98b2 !important;
}

.color_2 {
    background-color: #80dcbd !important;
}

.color_3 {
    background-color: #e2a2e0 !important;
}

.color_4 {
    background-color: #f0af9c !important;
}

.color_5 {
    background-color: #8ec7e4 !important;
}

.color_6 {
    background-color: #b897fa !important;
}

.table_head {
    display: flex;
    align-items: center;
    .dataTable-top {
        flex: 1;
    }
}