<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h3 class="mb-3 mb-md-0 page_title">U.S. and Canada Refinery Data</h3>
    </div>
</div>

<div class="dash_cards">
    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_1 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">V</span>
                    <h4>Valero</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>14</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>2.88M</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>13</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>13</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_2 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">M</span>
                    <h4>Marathon</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>13</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>2.88M</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>08</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>08</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_3 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">P</span>
                    <h4>Philips 66</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>10</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>1.89M</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>06</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>08</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_4 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">E</span>
                    <h4>ExxonMobil</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>08</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>1.85m</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>01</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>01</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_5 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">H</span>
                    <h4>Holly Frontier</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>08</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>627k</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>02</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>07</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_6 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">S</span>
                    <h4>Shell</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>06</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>2.88m</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>03</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>03</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_7 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">P</span>
                    <h4>PBF</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>06</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>937k</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>02</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>03</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_8 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">C</span>
                    <h4>Cenovus</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>06</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>921k</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>02</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>02</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_1 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">C</span>
                    <h4>Chevron</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>05</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>1.07m</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>03</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>04</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_2 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">S</span>
                    <h4>Suncor</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>05</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>466k</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>02</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>02</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_3 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">C</span>
                    <h4>Calumet</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>04</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>129k</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>02</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>02</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dash_card_block">
        <div class="card">
            <div class="card-header gradient_box_4 d-flex align-items-center">
                <div class="card_name">
                    <span class="card_icon">B</span>
                    <h4>BP</h4>
                </div>
                <div ngbDropdown placement="bottom-end" class="btn-group">
                    <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                      <i class="ri-more-2-fill"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropupMenu">
                        <button class="dropdown-item">View Details</button>
                        <button class="dropdown-item">Edit</button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card_info">
                    <div class="card_info_item">
                        <span>Refineries</span>
                        <h3>05</h3>
                    </div>
                    <div class="card_info_item">
                        <span>BBLs/day</span>
                        <h3>850k</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Currently In</span>
                        <h3>03</h3>
                    </div>
                    <div class="card_info_item">
                        <span>Previously In</span>
                        <h3>04</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="companies_list">
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_01.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_02.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_03.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_04.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_05.png" />
                    </div>
                    <div class="company_logo disable">
                        <img src="assets/images/companies/logo_06.png" />
                    </div>
                    <div class="company_logo">
                        <img src="assets/images/companies/logo_07.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>