<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin page_title">
    <div>
        <nav class="page-breadcrumb mb-1">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Clients</li>
            </ol>
        </nav>
        <h3 class="mb-3 mb-md-0 page_title">Clients</h3>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap title_action gap-1">
        <button type="button" class="btn btn-outline-primary btn-icon-text dashfilter">
            <i class="ri-filter-3-line"></i>
            Filter
        </button>
        <button type="button" class="btn btn-primary add_btn" (click)="openAddCompanyModal(addCompanyModal)">
            <i class="ri-add-line"></i>
            Add Client
        </button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table_head">
            <h6 class="card-title mb-0">Clients List</h6>
            <div class="dataTable-top">
                <div class="dataTable-dropdown">
                    <label>
                        <select class="dataTable-selector">
                            <option value="5">5</option>
                            <option value="10" selected="">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select> <span>entries per page</span>
                    </label>
                </div>
                <div class="dataTable-search">
                    <input class="dataTable-input" placeholder="Search..." type="text">
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="dataTableExample" class="table table-hover">
                <thead>
                    <tr>
                        <th width="100"><a class="dataTable-sorter">Sl.No</a></th>
                        <th><a class="dataTable-sorter">Clients Name</a></th>
                        <th><a class="dataTable-sorter">Clients ID</a></th>
                        <th><a class="dataTable-sorter">No of Refineries</a></th>
                        <th><a class="dataTable-sorter">BBLs/day </a></th>
                        <th><a class="dataTable-sorter">Currently In </a></th>
                        <th><a class="dataTable-sorter">Previously In</a></th>
                        <th><a class="dataTable-sorter">Industry</a></th>
                        <th width="50"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#01</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_1">
                                    <span>V</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Valero</h6>
                                </div>
                            </div>
                        </td>
                        <td>#662453127</td>
                        <td>14</td>
                        <td>2.88M</td>
                        <td>13</td>
                        <td>13</td>
                        <td>
                            <span class="badge bg-success">Refinery</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#02</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_2">
                                    <span>M</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Marathon</h6>
                                </div>
                            </div>
                        </td>
                        <td>#863490263</td>
                        <td>13</td>
                        <td>2.88M</td>
                        <td>08</td>
                        <td>08</td>
                        <td>
                            <span class="badge bg-info">Petrochemical</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#03</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_3">
                                    <span>P</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Philips 66</h6>
                                </div>
                            </div>
                        </td>
                        <td>#563452345</td>
                        <td>10</td>
                        <td>1.89M</td>
                        <td>06</td>
                        <td>08</td>
                        <td>
                            <span class="badge bg-success">Refinery</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#04</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_4">
                                    <span>E</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">ExxonMobil</h6>
                                </div>
                            </div>
                        </td>
                        <td>#874512096</td>
                        <td>08</td>
                        <td>1.85m</td>
                        <td>01</td>
                        <td>01</td>
                        <td>
                            <span class="badge bg-warning">Fertilizer</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#05</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_5">
                                    <span>H</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Holly Frontier</h6>
                                </div>
                            </div>
                        </td>
                        <td>#543278906</td>
                        <td>08</td>
                        <td>627k</td>
                        <td>02</td>
                        <td>07</td>
                        <td>
                            <span class="badge bg-info">Petrochemical</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#06</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_6">
                                    <span>S</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Shell</h6>
                                </div>
                            </div>
                        </td>
                        <td>#123765345</td>
                        <td>06</td>
                        <td>2.88m</td>
                        <td>03</td>
                        <td>03</td>
                        <td>
                            <span class="badge bg-success">Refinery</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#07</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_7">
                                    <span>P</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">PBF</h6>
                                </div>
                            </div>
                        </td>
                        <td>#985602453</td>
                        <td>06</td>
                        <td>937k</td>
                        <td>02</td>
                        <td>03</td>
                        <td>
                            <span class="badge bg-info">Petrochemical</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#08</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_8">
                                    <span>C</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Cenovus</h6>
                                </div>
                            </div>
                        </td>
                        <td>#653426178</td>
                        <td>06</td>
                        <td>921k</td>
                        <td>02</td>
                        <td>02</td>
                        <td>
                            <span class="badge bg-warning">Fertilizer</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#09</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_1">
                                    <span>C</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Chevron</h6>
                                </div>
                            </div>
                        </td>
                        <td>#874230964</td>
                        <td>05</td>
                        <td>1.07m</td>
                        <td>03</td>
                        <td>04</td>
                        <td>
                            <span class="badge bg-warning">Fertilizer</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="top-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#10</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" routerLink="/company-region">
                                <div class="user_icon square gradient_box_2">
                                    <span>S</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Suncor</h6>
                                </div>
                            </div>
                        </td>
                        <td>#247801567</td>
                        <td>05</td>
                        <td>466k</td>
                        <td>02</td>
                        <td>02</td>
                        <td>
                            <span class="badge bg-success">Refinery</span>
                        </td>
                        <td>
                            <div ngbDropdown placement="top-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" routerLink="/company-region"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddCompanyModal(addCompanyModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteCompanyModal(deleteCompanyModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="dataTable-bottom">
            <div class="dataTable-info">Showing 1 to 10 of 12 entries</div>
            <nav class="dataTable-pagination">
                <ul class="dataTable-pagination-list">
                    <li class="active"><a href="#" data-page="1">1</a></li>
                    <li class=""><a href="#" data-page="2">2</a></li>
                    <li class="pager"><a href="#" data-page="2">›</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<!-- Add Modal -->
<ng-template #addCompanyModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Client</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <!-- <form class="forms-wrap"> -->

        <div class="mb-4">
            <div class="upload_company_logo">
                <i class="ri-upload-cloud-2-line"></i>
                <label>Upload Logo</label>
            </div>
            <label for="input12" class="form-label justify-content-center d-flex">Client Logo</label>
        </div>

        <div class="mb-4">
            <label for="input1" class="form-label">Client Name <span class="text-danger">*</span></label>
            <input type="text" name="firstname" class="form-control" id="input1" autocomplete="off" placeholder="first name">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input2" class="form-label">Address Line 1 <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input2" autocomplete="off" placeholder="enter address line 1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input3" class="form-label">Address Line 2 </label>
                    <input type="text" class="form-control" id="input3" autocomplete="off" placeholder="enter address line 2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input4" class="form-label">Country <span class="text-danger">*</span></label>
                    <ng-select [items]="simpleItems" [searchable]="false" [(ngModel)]="selectedSimpleItem" placeholder="select country"></ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input5" class="form-label">State <span class="text-danger">*</span></label>
                    <ng-select [items]="simpleItems2" [searchable]="false" [(ngModel)]="selectedSimpleItem2" placeholder="select state"></ng-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input6" class="form-label">City <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input6" autocomplete="off" placeholder="enter city">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input7" class="form-label">Zip/Pin Code <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input7" autocomplete="off" placeholder="enter zip/pin">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input8" class="form-label">Client ID <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input8" autocomplete="off" placeholder="enter client id">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input9" class="form-label">Tax ID <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input9" autocomplete="off" placeholder="enter tax id">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input10" class="form-label">Contact Person <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input10" autocomplete="off" placeholder="contact person">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input11" class="form-label">Contact Phone No <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input11" autocomplete="off" placeholder="enter contact number">
                </div>
            </div>
        </div>


        <!-- </form> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Add Client</button>
    </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteCompanyModal let-modal>
    <div class="modal-header border-none">
        <h5 class="modal-title" id="exampleModalLabel">Delete Client</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Are you sure, you want to detete this client <strong>(Client Name)</strong>?</p>
    </div>
    <div class="modal-footer border-none">
        <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('by: save button')">Delete User</button>
    </div>
</ng-template>