<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin page_title">
    <div>
        <nav class="page-breadcrumb mb-1">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Representative</li>
            </ol>
        </nav>
        <h3 class="mb-3 mb-md-0 page_title">Representative</h3>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap title_action gap-1">
        <button type="button" class="btn btn-outline-primary btn-icon-text dashfilter">
            <i class="ri-filter-3-line"></i>
            Filter
        </button>
        <button type="button" class="btn btn-primary add_btn" (click)="openAddRepresentativeModal(addRepresentativeModal)">
            <i class="ri-add-line"></i>
            Add Representative
        </button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table_head">
            <h6 class="card-title mb-0">Representative List</h6>
            <div class="dataTable-top">
                <div class="dataTable-dropdown">
                    <label>
                        <select class="dataTable-selector">
                            <option value="5">5</option>
                            <option value="10" selected="">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select> <span>entries per page</span>
                    </label>
                </div>
                <div class="dataTable-search">
                    <input class="dataTable-input" placeholder="Search..." type="text">
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="dataTableExample" class="table table-hover">
                <thead>
                    <tr>
                        <th width="100"><a class="dataTable-sorter">Sl.No</a></th>
                        <th><a class="dataTable-sorter">Name</a></th>
                        <th><a class="dataTable-sorter">Email Address</a></th>
                        <th><a class="dataTable-sorter">Phone Number</a></th>
                        <th><a class="dataTable-sorter">Stronghold contacts</a></th>
                        <th width="50"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#01</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_1">
                                    <span>TN</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Tiger Nixon</h6>
                                </div>
                            </div>
                        </td>
                        <td>tigernixon@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_6" placement="top" ngbTooltip="Herrod Chandler">
                                    HC
                                </div>
                                <div class="user_icon color_5" placement="top" ngbTooltip="Rhona Davidson">
                                    RD
                                </div>
                                <div class="user_icon color_4" placement="top" ngbTooltip="Colleen Hurst">
                                    CH
                                </div>
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                                <label placement="top" data-html="true" [ngbTooltip]="tipContent">+2 More</label>
                                <ng-template #tipContent>
                                    Airi Satou<br> Brielle Williamson
                                </ng-template>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#01</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_2">
                                    <span>GW</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Garrett Winters</h6>
                                </div>
                            </div>
                        </td>
                        <td>garrettwinters@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_4" placement="top" ngbTooltip="Colleen Hurst">
                                    CH
                                </div>
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#03</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_3">
                                    <span>AC</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Ashton Cox</h6>
                                </div>
                            </div>
                        </td>
                        <td>ashtoncox@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_6" placement="top" ngbTooltip="Herrod Chandler">
                                    HC
                                </div>
                                <div class="user_icon color_5" placement="top" ngbTooltip="Rhona Davidson">
                                    RD
                                </div>
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                                <label placement="top" data-html="true" [ngbTooltip]="tipContent">+1 More</label>
                                <ng-template #tipContent>
                                    Brielle Williamson
                                </ng-template>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#04</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_4">
                                    <span>CK</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Cedric Kelly</h6>
                                </div>
                            </div>
                        </td>
                        <td>cedrickelly@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#05</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_1">
                                    <span>LP</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Leonardo Payne</h6>
                                </div>
                            </div>
                        </td>
                        <td>leonardopayne@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_6" placement="top" ngbTooltip="Herrod Chandler">
                                    HC
                                </div>
                                <div class="user_icon color_5" placement="top" ngbTooltip="Rhona Davidson">
                                    RD
                                </div>
                                <div class="user_icon color_4" placement="top" ngbTooltip="Colleen Hurst">
                                    CH
                                </div>
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                                <label placement="top" data-html="true" [ngbTooltip]="tipContent">+2 More</label>
                                <ng-template #tipContent>
                                    Airi Satou<br> Brielle Williamson
                                </ng-template>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#06</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_5">
                                    <span>AS</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Airi Satou</h6>
                                </div>
                            </div>
                        </td>
                        <td>airisatou@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_5" placement="top" ngbTooltip="Rhona Davidson">
                                    RD
                                </div>
                                <div class="user_icon color_4" placement="top" ngbTooltip="Colleen Hurst">
                                    CH
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#07</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_6">
                                    <span>BW</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Brielle Williamson</h6>
                                </div>
                            </div>
                        </td>
                        <td>briellewilliamson@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_4" placement="top" ngbTooltip="Colleen Hurst">
                                    CH
                                </div>
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#08</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_2">
                                    <span>GW</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Garrett Winters</h6>
                                </div>
                            </div>
                        </td>
                        <td>garrettwinters@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_6" placement="top" ngbTooltip="Herrod Chandler">
                                    HC
                                </div>
                                <div class="user_icon color_5" placement="top" ngbTooltip="Rhona Davidson">
                                    RD
                                </div>
                                <div class="user_icon color_4" placement="top" ngbTooltip="Colleen Hurst">
                                    CH
                                </div>
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#09</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_3">
                                    <span>AC</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Ashton Cox</h6>
                                </div>
                            </div>
                        </td>
                        <td>ashtoncox@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_2" placement="top" ngbTooltip="Sonya Frost">
                                    SF
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="top-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#10</td>
                        <td>
                            <div class="user_media d-flex align-items-center pointer" (click)="openRepresentativeModal(viewRepresentativeModal)">
                                <div class="user_icon color_4">
                                    <span>CK</span>
                                </div>
                                <div class="user_media">
                                    <h6 class="text-body mb-0">Cedric Kelly</h6>
                                </div>
                            </div>
                        </td>
                        <td>cedrickelly@gmail.com</td>
                        <td>+1 987 2455 3426</td>
                        <td>
                            <div class="icon_user_block">
                                <div class="user_icon color_6" placement="top" ngbTooltip="Herrod Chandler">
                                    HC
                                </div>
                                <div class="user_icon color_5" placement="top" ngbTooltip="Rhona Davidson">
                                    RD
                                </div>
                                <div class="user_icon color_4" placement="top" ngbTooltip="Colleen Hurst">
                                    CH
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown placement="top-end" class="btn-group">
                                <button class="btn btn-icon" id="dropupMenu" ngbDropdownToggle>
                                  <i class="ri-more-2-fill"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropupMenu">
                                    <button class="dropdown-item" (click)="openRepresentativeModal(viewRepresentativeModal)"><i class="ri-eye-line"></i> View Details</button>
                                    <button class="dropdown-item" (click)="openAddRepresentativeModal(addRepresentativeModal)"><i class="ri-edit-line"></i> Edit</button>
                                    <button class="dropdown-item" (click)="openDeleteRepresentativeModal(deleteUserModal)"><i class="ri-delete-bin-line"></i> Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="dataTable-bottom">
            <div class="dataTable-info">Showing 1 to 10 of 22 entries</div>
            <nav class="dataTable-pagination">
                <ul class="dataTable-pagination-list">
                    <li class="active"><a href="#" data-page="1">1</a></li>
                    <li class=""><a href="#" data-page="2">2</a></li>
                    <li class=""><a href="#" data-page="3">3</a></li>
                    <li class="pager"><a href="#" data-page="2">›</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Add Modal -->
<ng-template #addRepresentativeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Representative</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <!-- <form class="forms-wrap"> -->
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input1" class="form-label">First Name <span class="text-danger">*</span></label>
                    <input type="text" name="firstname" class="form-control" id="input1" autocomplete="off" placeholder="first name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input2" class="form-label">Last Name <span class="text-danger">*</span></label>
                    <input type="text" name="lastname" class="form-control" id="input2" autocomplete="off" placeholder="last name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input3" class="form-label">Email Address <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input3" autocomplete="off" placeholder="email id">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input4" class="form-label">Phone Number <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input4" autocomplete="off" placeholder="phone number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input5" class="form-label">Age <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input5" autocomplete="off" placeholder="enter age">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input6" class="form-label">Designation </label>
                    <input type="text" class="form-control" id="input6" autocomplete="off" placeholder="enter designation">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input7" class="form-label">Address Line 1 <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input7" autocomplete="off" placeholder="enter address line 1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input8" class="form-label">Address Line 2 </label>
                    <input type="text" class="form-control" id="input8" autocomplete="off" placeholder="enter address line 2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input9" class="form-label">Country <span class="text-danger">*</span></label>
                    <ng-select [items]="simpleItems" [searchable]="false" [(ngModel)]="selectedSimpleItem" placeholder="select country"></ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input10" class="form-label">State <span class="text-danger">*</span></label>
                    <ng-select [items]="simpleItems2" [searchable]="false" [(ngModel)]="selectedSimpleItem2" placeholder="select state"></ng-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input11" class="form-label">City <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input11" autocomplete="off" placeholder="enter city">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="input12" class="form-label">Zip/Pin Code <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="input12" autocomplete="off" placeholder="enter zip/pin">
                </div>
            </div>
        </div>

        <div class="mb-4">
            <label for="input13" class="form-label">Stronghold contacts<span class="text-danger">*</span></label>
            <ng-select [items]="people" [multiple]=true [closeOnSelect]="false" [searchable]="false" bindLabel="name" placeholder="Select people" [(ngModel)]="selectedPeople">
            </ng-select>
        </div>


        <!-- </form> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Add Representative</button>
    </div>
</ng-template>

<!-- View Modal -->
<ng-template #viewRepresentativeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Representative Details</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div class="user_media large d-flex align-items-center">
            <div class="user_icon color_1">
                <span>TN</span>
            </div>
            <div class="user_media d-flex align-items-center">
                <div class="flex-1">
                    <h5 class="modal-title">Tiger Nixon</h5>
                    <p class="text-muted">tigernixon@gmail.com</p>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">First Name</label>
                    <p class="text-muted">Tiger</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Last Name</label>
                    <p class="text-muted">Nixon</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Email Address</label>
                    <p class="text-muted">leonardopayne@gmail.com</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Phone Number</label>
                    <p class="text-muted">+1 987 2455 3426</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Age</label>
                    <p class="text-muted">35</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Designation</label>
                    <p class="text-muted">Marketing Manager</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Address Line 1</label>
                    <p class="text-muted">1533 Paul Wayne Haggerty Road</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Address Line 2</label>
                    <p class="text-muted">--</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Country</label>
                    <p class="text-muted">United States</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">State</label>
                    <p class="text-muted">Louisiana</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">City</label>
                    <p class="text-muted">Kenner</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3">
                    <label class="tx-12 mb-0 text-uppercase display_label">Zip/Pin Code</label>
                    <p class="text-muted">70062</p>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <label class="tx-12 mb-0 text-uppercase display_label">Stronghold contacts</label>
            <div class="d-flex flex-wrap gap-3 mt-3">
                <div class="user_media d-flex align-items-center pointer">
                    <div class="user_icon color_6">
                        <span>LP</span>
                    </div>
                    <div class="user_media">
                        <h6 class="text-body mb-0">Leonardo Payne</h6>
                    </div>
                </div>
                <div class="user_media d-flex align-items-center pointer">
                    <div class="user_icon color_2">
                        <span>GW</span>
                    </div>
                    <div class="user_media">
                        <h6 class="text-body mb-0">Garrett Winters</h6>
                    </div>
                </div>
                <div class="user_media d-flex align-items-center pointer">
                    <div class="user_icon color_3">
                        <span>AC</span>
                    </div>
                    <div class="user_media">
                        <h6 class="text-body mb-0">Ashton Cox</h6>
                    </div>
                </div>
                <div class="user_media d-flex align-items-center pointer">
                    <div class="user_icon color_4">
                        <span>CK</span>
                    </div>
                    <div class="user_media">
                        <h6 class="text-body mb-0">Cedric Kelly</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
        <button type="button" class="btn btn-danger" (click)="openDeleteRepresentativeModal(deleteUserModal)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Edit Representative</button>
    </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteUserModal let-modal>
    <div class="modal-header border-none">
        <h5 class="modal-title" id="exampleModalLabel">Delete Representative</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Are you sure, you want to detete this Representative <strong>(User Name)</strong>?</p>
    </div>
    <div class="modal-footer border-none">
        <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('by: save button')">Delete Representative</button>
    </div>
</ng-template>