<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin page_title mb-3">
    <nav class="page-breadcrumb mb-1">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/companies">Clients</a></li>
            <li class="breadcrumb-item active" aria-current="page">Valero</li>
        </ol>
    </nav>
</div>

<div class="card grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin page_title mb-0 gap-3">
                <div class="company_head">
                    <div class="company_info">
                        <div class="company_icon gradient_box_1">
                            V
                        </div>
                        <div class="company_body">
                            <h3 class="page_title mb-1">Valero</h3>
                            <div class="d-flex gap-3 com_in">
                                <div class="basic_info">
                                    <p class="text-muted fw-bold">Company ID : #662453127</p>
                                    <p class="text-muted fw-bold">Company Tax ID : #GDB90345HJJ345</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="contact_info">
                        <div class="d-flex align-items-center gap-2">
                            <i class="ri-map-pin-2-line location_icon"></i>
                            <p class="text-muted fw-bold">
                                1533 Paul Wayne Haggerty Road<br> Kenner, Louisiana, United States 70062
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-wrap text-nowrap title_action gap-1">
                    <button type="button" class="btn btn-outline-warning add_btn">
                        <i class="ri-bar-chart-horizontal-line"></i>
                        Recent Activity
                    </button>
                    <button type="button" class="btn btn-outline-danger add_btn">
                        <i class="ri-delete-bin-line"></i>
                            Delete
                    </button>
                    <button type="button" class="btn btn-primary add_btn">
                        <i class="ri-pencil-line"></i>
                        Edit Company
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-12 stretch-card">
        <div class="row flex-grow-1">
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="company_dash">
                            <div class="company_icon gradient_box_2">
                                <i class="ri-building-line"></i>
                            </div>
                            <div class="company_body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-2 text-muted">No of Refineries</h6>
                                </div>
                                <h3 class="mb-0">14</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="company_dash">
                            <div class="company_icon gradient_box_3">
                                <i class="ri-building-3-line"></i>
                            </div>
                            <div class="company_body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-2 text-muted">BBLs/day</h6>
                                </div>
                                <h3 class="mb-0">2.88M</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="company_dash">
                            <div class="company_icon gradient_box_4">
                                <i class="ri-time-line"></i>
                            </div>
                            <div class="company_body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-2 text-muted">Currently In </h6>
                                </div>
                                <h3 class="mb-0">13</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="company_dash">
                            <div class="company_icon gradient_box_8">
                                <i class="ri-history-line"></i>
                            </div>
                            <div class="company_body">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 class="card-title mb-2 text-muted">Previously In</h6>
                                </div>
                                <h3 class="mb-0">13</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin page_title">
    <div>
        <h3 class="mb-3 mb-md-0 page_title">Valero Locations (12)</h3>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap title_action gap-1">
        <button type="button" class="btn btn-outline-primary btn-icon-text dashfilter">
            <i class="ri-filter-3-line"></i>
            Filter
        </button>
        <button type="button" class="btn btn-primary add_btn">
            <i class="ri-add-line"></i>
            Add Location
        </button>
    </div>
</div>

<div class="regions_grid">
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_01.jpg" />
            </div>
            <div class="region_info">
                <h3>Ardmore Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_02.jpg" />
            </div>
            <div class="region_info">
                <h3>Benicia Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_03.jpg" />
            </div>
            <div class="region_info">
                <h3>Bill Greehey Refineries</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_04.jpg" />
            </div>
            <div class="region_info">
                <h3>Houston Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_05.jpg" />
            </div>
            <div class="region_info">
                <h3>Jean Gaulin Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_06.jpg" />
            </div>
            <div class="region_info">
                <h3>McKee Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_07.jpg" />
            </div>
            <div class="region_info">
                <h3>Memphis Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_08.jpg" />
            </div>
            <div class="region_info">
                <h3>Meraux Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_09.jpg" />
            </div>
            <div class="region_info">
                <h3>Pembroke Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_10.jpg" />
            </div>
            <div class="region_info">
                <h3>Port Arthur Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_11.jpg" />
            </div>
            <div class="region_info">
                <h3>St. Charles Refinery</h3>
            </div>
        </div>
    </a>
    <a routerLink="/company-details" class="region_item card">
        <div class="region_box">
            <div class="region_cover">
                <img src="assets/images/location/location_12.jpg" />
            </div>
            <div class="region_info">
                <h3>Texas City Refinery</h3>
            </div>
        </div>
    </a>
</div>