<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin page_title mb-2">
    <nav class="page-breadcrumb mb-1">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/companies">Companies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Valero</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin page_title mb-0">
                <div class="company_info">
                    <div class="company_icon gradient_box_1">
                        V
                    </div>
                    <div class="company_body">
                        <h3 class="page_title mb-1">Valero</h3>
                        <p class="text-muted fw-bold">Company ID : #662453127</p>
                        <p class="text-muted fw-bold">Company Tax ID : #GDB90345HJJ345</p>
                    </div>
                </div>
                <div class="d-flex align-items-center flex-wrap text-nowrap title_action gap-1">
                    <button type="button" class="btn btn-danger add_btn">
                        <i class="ri-delete-bin-line"></i>
                            Delete
                    </button>
                    <button type="button" class="btn btn-primary add_btn">
                        <i class="ri-pencil-line"></i>
                        Edit Company
                    </button>
                </div>
            </div>
        </div>
    </div>